In [2]:
import pandas as pd
import numpy as np

In [3]:
korea_shp_dist_def = pd.read_csv('../Data_Store/Processed_data/korea_shp_dist_def.csv', encoding = 'utf-8')

In [4]:
busan_cafe_all = korea_shp_dist_def[korea_shp_dist_def['시도명'] == '부산광역시']

In [5]:
busan_cafe_all.columns

Index(['상호명', '상권업종대분류명', '상권업종중분류명', '상권업종소분류명', '표준산업분류명', '시도명', '시군구명',
       '행정동명', '법정동명', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명',
       '건물본번지', '건물부번지', '도로명주소', '경도', '위도', 'year'],
      dtype='object')

In [6]:
newcol = ['상호명', '상권업종대분류명', '상권업종중분류명', '상권업종소분류명', '표준산업분류명', '시도명', '시군구명',
       '행정동명', '법정동명', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명',
       '건물본번지', '건물부번지', '도로명주소', '경도', '위도', 'year']

In [7]:
busan_cafe_all = busan_cafe_all[newcol]

# 부산 카페 수 현황
## 1. 2016년, 2017년, 2018년, 2019년 카페 수
## 2. 구군별, 2016년, 2017년, 2018년, 2019년 카페 수
## 3. 구군별, 2016년, 2017년, 2018년, 2019년 카페 수 => 상관관계분석
## 4. 동면별, 2016년, 2017년, 2018년, 2019년 카페 수
## 5. 동면별, 2016년, 2017년, 2018년, 2019년 카페 수 => 상관관계분석
## 6. 2019년 구군별,  인구당 카페수, 면적당 카페수, 인구밀도, 구군별 인구구성, 구군별 카페구성비율 => 상관관계분석

In [8]:
# 1. 2016년, 2017년, 2018년, 2019년 카페 수 ======================================================================================================================

In [9]:
busan_cafe_year_count = busan_cafe_all.pivot_table(index = ['year'], values = ['상호명'], aggfunc = 'count').reset_index()

In [10]:
busan_cafe_year_count.shape

(4, 2)

In [11]:
busan_cafe_year_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
year    4 non-null int64
상호명     4 non-null int64
dtypes: int64(2)
memory usage: 192.0 bytes

In [12]:
missing = busan_cafe_year_count.shape[0] - busan_cafe_year_count.count()
missing

year    0
상호명     0
dtype: int64

In [13]:
busan_cafe_year_count.to_csv('../Cleansed_Tables/busan_cafe_year_count.csv', encoding = 'utf-8', index = False)

In [14]:
# 2. 구군별, 2016년, 2017년, 2018년, 2019년 카페 수 ======================================================================================================================

In [15]:
busan_cafe_all

,상호명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류명,시도명,시군구명,행정동명,법정동명,대지구분명,지번본번지,지번부번지,지번주소,도로명,건물본번지,건물부번지,도로명주소,경도,위도,year
9,카페크레마,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,기장군,정관면,정관면,대지,719,1.0,부산광역시 기장군 정관면 매학리 719-1,부산광역시 기장군 정관면 정관6로,5,20.0,부산광역시 기장군 정관면 정관6로 5-20,129.175380,35.320503,2016
12,아우르미카페,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,남구,문현4동,문현동,대지,353,1.0,부산광역시 남구 문현동 353-1,부산광역시 남구 지게골로,56,NaN,부산광역시 남구 지게골로 56,129.070922,35.135626,2016
13,카페타무,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,영도구,동삼2동,동삼동,대지,770,NaN,부산광역시 영도구 동삼동 770,부산광역시 영도구 태종로,759,NaN,부산광역시 영도구 태종로 759,129.080792,35.068664,2016
24,하드록카페부산,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,해운대구,중1동,중동,대지,1128,78.0,부산광역시 해운대구 중동 1128-78,부산광역시 해운대구 해운대해변로298번길,13,NaN,부산광역시 해운대구 해운대해변로298번길 13,129.165032,35.161502,2016
31,러빙헛헤어라떼,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,서구,동대신3동,동대신동3가,대지,14,1.0,부산광역시 서구 동대신동3가 14-1,부산광역시 서구 보수대로258번길,15,NaN,부산광역시 서구 보수대로258번길 15,129.017306,35.117718,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245336,간단하지만특별한화피디Cafe,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,수영구,광안4동,광안동,대지,744,36.0,부산광역시 수영구 광안동 744-36,부산광역시 수영구 수영로,575,NaN,부산광역시 수영구 수영로 575,129.112605,35.157190,2019
245352,간단하지만특별한화피디Cafe,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,강서구,명지동,명지동,대지,3234,NaN,부산광역시 강서구 명지동 3234,부산광역시 강서구 명지오션시티11로,22,NaN,부산광역시 강서구 명지오션시티11로 22,128.896929,35.083937,2019
245354,주커피,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,해운대구,좌1동,좌동,대지,1467,4.0,부산광역시 해운대구 좌동 1467-4,부산광역시 해운대구 해운대로,813,NaN,부산광역시 해운대구 해운대로 813,129.177094,35.170597,2019
245356,할리스커피,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,서구,아미동,아미동1가,대지,10,1.0,부산광역시 서구 아미동1가 10-1,부산광역시 서구 구덕로,179,NaN,부산광역시 서구 구덕로 179,129.019249,35.101070,2019
245357,커피맘스,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,금정구,구서2동,구서동,대지,1021,2.0,부산광역시 금정구 구서동 1021-2,부산광역시 금정구 금샘로,403,NaN,부산광역시 금정구 금샘로 403,129.083896,35.259055,2019

In [16]:
busan_cafe_year_gugunname = busan_cafe_all.pivot_table(index = ['시군구명'], columns = ['year'], values = ['상호명'], aggfunc = 'count').reset_index()

In [17]:
newcol = ['시군구명', '2016', '2017', '2018', '2019']

In [18]:
busan_cafe_year_gugunname.columns = newcol

In [19]:
busan_cafe_year_gugunname

    시군구명  2016  2017  2018  2019
0    강서구    66   144   184   195
1    금정구   246   289   370   390
2    기장군   165   227   290   305
3     남구   213   258   291   323
4     동구   132   155   183   203
5    동래구   247   257   320   338
6   부산진구   513   525   605   629
7     북구   154   174   216   219
8    사상구   226   211   245   253
9    사하구   189   224   263   277
10    서구    97   118   143   151
11   수영구   179   212   275   323
12   연제구   154   202   235   246
13   영도구    94   131   152   156
14    중구   236   275   301   315
15  해운대구   380   437   538   592

In [20]:
busan_cafe_year_gugunname.to_csv('../Cleansed_Tables/busan_cafe_year_gugunname.csv', encoding = 'utf-8', index = False)

In [21]:
# 3. 구군별, 2016년, 2017년, 2018년, 2019년 카페수 => 상관관계분석======================================================================================================================

In [22]:
busan_cafe_year_gugunname.corr()

          2016      2017      2018      2019
2016  1.000000  0.979419  0.964918  0.952662
2017  0.979419  1.000000  0.992567  0.985049
2018  0.964918  0.992567  1.000000  0.996307
2019  0.952662  0.985049  0.996307  1.000000

In [23]:
busan_cafe_year_gugunname_corr = busan_cafe_year_gugunname.corr()

In [24]:
# 해석이 중요하다. correlation coefficient가 크다는 말 => 연도별 데이터 분포가 유사한 분포를 가진다는 의미
# correlation coefficient가 줄어든다는 말 => 연도별 데이터 분포 유사도가 줄어든다는 말 => 구군별 카페의 수의 분포가 변화한다 => 카페 상권의 이동의 지표로 이용 할 수 있다.

In [26]:
busan_cafe_year_gugunname_corr.to_csv('../Cleansed_Tables/busan_cafe_year_gugunname_corr.csv', encoding = 'utf-8')

In [27]:
# 4. 동면별, 2016년, 2017년, 2018년, 2019년 카페 수======================================================================================================================

In [28]:
busan_cafe_all

,상호명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류명,시도명,시군구명,행정동명,법정동명,대지구분명,지번본번지,지번부번지,지번주소,도로명,건물본번지,건물부번지,도로명주소,경도,위도,year
9,카페크레마,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,기장군,정관면,정관면,대지,719,1.0,부산광역시 기장군 정관면 매학리 719-1,부산광역시 기장군 정관면 정관6로,5,20.0,부산광역시 기장군 정관면 정관6로 5-20,129.175380,35.320503,2016
12,아우르미카페,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,남구,문현4동,문현동,대지,353,1.0,부산광역시 남구 문현동 353-1,부산광역시 남구 지게골로,56,NaN,부산광역시 남구 지게골로 56,129.070922,35.135626,2016
13,카페타무,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,영도구,동삼2동,동삼동,대지,770,NaN,부산광역시 영도구 동삼동 770,부산광역시 영도구 태종로,759,NaN,부산광역시 영도구 태종로 759,129.080792,35.068664,2016
24,하드록카페부산,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,해운대구,중1동,중동,대지,1128,78.0,부산광역시 해운대구 중동 1128-78,부산광역시 해운대구 해운대해변로298번길,13,NaN,부산광역시 해운대구 해운대해변로298번길 13,129.165032,35.161502,2016
31,러빙헛헤어라떼,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,서구,동대신3동,동대신동3가,대지,14,1.0,부산광역시 서구 동대신동3가 14-1,부산광역시 서구 보수대로258번길,15,NaN,부산광역시 서구 보수대로258번길 15,129.017306,35.117718,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245336,간단하지만특별한화피디Cafe,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,수영구,광안4동,광안동,대지,744,36.0,부산광역시 수영구 광안동 744-36,부산광역시 수영구 수영로,575,NaN,부산광역시 수영구 수영로 575,129.112605,35.157190,2019
245352,간단하지만특별한화피디Cafe,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,강서구,명지동,명지동,대지,3234,NaN,부산광역시 강서구 명지동 3234,부산광역시 강서구 명지오션시티11로,22,NaN,부산광역시 강서구 명지오션시티11로 22,128.896929,35.083937,2019
245354,주커피,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,해운대구,좌1동,좌동,대지,1467,4.0,부산광역시 해운대구 좌동 1467-4,부산광역시 해운대구 해운대로,813,NaN,부산광역시 해운대구 해운대로 813,129.177094,35.170597,2019
245356,할리스커피,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,서구,아미동,아미동1가,대지,10,1.0,부산광역시 서구 아미동1가 10-1,부산광역시 서구 구덕로,179,NaN,부산광역시 서구 구덕로 179,129.019249,35.101070,2019
245357,커피맘스,음식,커피점/카페,커피전문점/카페/다방,비알콜 음료점업,부산광역시,금정구,구서2동,구서동,대지,1021,2.0,부산광역시 금정구 구서동 1021-2,부산광역시 금정구 금샘로,403,NaN,부산광역시 금정구 금샘로 403,129.083896,35.259055,2019

In [29]:
busan_cafe_year_dong = busan_cafe_all.pivot_table(index = ['행정동명'], columns = 'year', values = ['상호명'], aggfunc = 'count').reset_index()

In [30]:
busan_cafe_year_dong

      행정동명   상호명
year        2016  2017  2018  2019
0     가덕도동   3.0   9.0  11.0  11.0
1      가락동   2.0   2.0   3.0   5.0
2     가야1동  30.0  27.0  31.0  30.0
3     가야2동  10.0  14.0  14.0  15.0
4     감만1동   1.0   1.0   2.0   2.0
..     ...   ...   ...   ...   ...
205   하단2동  40.0  46.0  52.0  57.0
206    학장동  10.0  10.0  14.0  15.0
207   화명1동  11.0  13.0  18.0  18.0
208   화명2동   3.0   6.0   6.0   6.0
209   화명3동  25.0  24.0  34.0  35.0

[210 rows x 5 columns]

In [31]:
newcol = ['행정동명', '2016', '2017', '2018', '2019']

In [32]:
busan_cafe_year_dong.columns = newcol

In [33]:
busan_cafe_year_dong.fillna(0, inplace = True)

In [34]:
busan_cafe_year_dong

     행정동명  2016  2017  2018  2019
0    가덕도동   3.0   9.0  11.0  11.0
1     가락동   2.0   2.0   3.0   5.0
2    가야1동  30.0  27.0  31.0  30.0
3    가야2동  10.0  14.0  14.0  15.0
4    감만1동   1.0   1.0   2.0   2.0
..    ...   ...   ...   ...   ...
205  하단2동  40.0  46.0  52.0  57.0
206   학장동  10.0  10.0  14.0  15.0
207  화명1동  11.0  13.0  18.0  18.0
208  화명2동   3.0   6.0   6.0   6.0
209  화명3동  25.0  24.0  34.0  35.0

[210 rows x 5 columns]

In [35]:
busan_cafe_year_dong.to_csv('../Cleansed_Tables/busan_cafe_year_dong.csv', encoding = 'utf-8', index = False)

In [36]:
# 5. 동면별, 2016년, 2017년, 2018년, 2019년 카페 수 => 상관관계분석======================================================================================================================

In [37]:
busan_cafe_year_dong.corr()

          2016      2017      2018      2019
2016  1.000000  0.915665  0.897790  0.899052
2017  0.915665  1.000000  0.990680  0.984732
2018  0.897790  0.990680  1.000000  0.995448
2019  0.899052  0.984732  0.995448  1.000000

In [38]:
busan_cafe_year_dong_corr = busan_cafe_year_dong.corr()

In [39]:
# 해석이 중요하다. correlation coefficient가 크다는 말 => 연도별 데이터 분포가 유사한 분포를 가진다는 의미
# correlation coefficient가 줄어든다는 말 => 연도별 데이터 분포 유사도가 줄어든다는 말 => 구군별 카페의 수의 분포가 변화한다 => 카페 상권의 이동의 지표로 이용 할 수 있다.

In [40]:
busan_cafe_year_dong_corr.to_csv('../Cleansed_Tables/busan_cafe_year_dong_corr.csv', encoding = 'utf-8')

In [41]:
# 6. 2019년 구군별,  인구당 카페수, 면적당 카페수, 인구밀도, 구군별 인구구성, 구군별 카페구성비율 => 상관관계분석========================================================================

In [44]:
busan_pop_land = pd.read_csv('../Data_Store/Processed_data/busan_pop_land.csv', encoding = 'euc-kr')

In [45]:
busan_pop_land

,구 분,읍·면·\n동 수,세 대,인 구(명),남자(인구),여자(인구),시전체\n인구에 대한\n구성비(%),면적\n(㎢),인구밀도\n(명/㎢)
0,부산광역시,206.0,1496361.0,3470256,1706084,1764172,100.000000,769.94,4507.0
1,중 구,9.0,23153.0,44169,21959,22210,1.272788,2.83,15607.0
2,서 구,13.0,52819.0,110576,54053,56523,3.186393,13.98,7910.0
3,동 구,12.0,44473.0,90245,44350,45895,2.600529,9.74,9265.0
4,영 도 구,11.0,54909.0,118962,58960,60002,3.428047,14.20,8378.0
5,부산진구,20.0,166660.0,361542,175017,186525,10.418309,29.67,12185.0
6,동 래 구,13.0,111867.0,272169,132577,139592,7.842908,16.63,16366.0
7,남 구,17.0,117518.0,281507,138038,143469,8.111995,26.81,10500.0
8,북 구,13.0,120061.0,293926,145587,148339,8.469865,39.37,7466.0
9,해운대구,18.0,168454.0,411346,198530,212816,11.853477,51.47,7992.0
10,사 하 구,16.0,138822.0,326902,163575,163327,9.420112,41.77,7826.0
11,금 정 구,17.0,106984.0,244413,119219,125194,7.043083,65.28,3744.0
12,강 서 구,8.0,53242.0,134211,71107,63104,3.867467,181.49,739.0
13,연 제 구,12.0,90131.0,210584,101767,108817,6.068255,12.10,17404.0
14,수 영 구,10.0,81385.0,178071,84518,93553,5.131351,10.21,17441.0
15,사 상 구,12.0,96780.0,224455,113607,110848,6.467967,36.09,6219.0
16,기 장 군,5.0,69103.0,167178,83220,83958,4.817454,218.30,766.0

In [46]:
busan_pop_land.columns

Index(['구  분', '읍·면·\n동 수', '세   대', '인   구(명)', '남자(인구)', '여자(인구)',
       '시전체\n인구에 대한\n구성비(%)', '면적\n(㎢)', '인구밀도\n(명/㎢)'],
      dtype='object')

In [50]:
newcol = []
for i in busan_pop_land.columns:
    newcol.append(i.replace(' ','').replace('\n', ''))

In [51]:
busan_pop_land.columns = newcol

In [55]:
busan_pop_land['구분'] = busan_pop_land['구분'].str.replace(' ','')

In [60]:
busan_pop_land.drop([0], axis = 0, inplace = True)

In [58]:
busan_cafe_year_gugunname

    시군구명  2016  2017  2018  2019
0    강서구    66   144   184   195
1    금정구   246   289   370   390
2    기장군   165   227   290   305
3     남구   213   258   291   323
4     동구   132   155   183   203
5    동래구   247   257   320   338
6   부산진구   513   525   605   629
7     북구   154   174   216   219
8    사상구   226   211   245   253
9    사하구   189   224   263   277
10    서구    97   118   143   151
11   수영구   179   212   275   323
12   연제구   154   202   235   246
13   영도구    94   131   152   156
14    중구   236   275   301   315
15  해운대구   380   437   538   592

In [61]:
busan_pop_land

,구분,읍·면·동수,세대,인구(명),남자(인구),여자(인구),시전체인구에대한구성비(%),면적(㎢),인구밀도(명/㎢)
1,중구,9.0,23153.0,44169,21959,22210,1.272788,2.83,15607.0
2,서구,13.0,52819.0,110576,54053,56523,3.186393,13.98,7910.0
3,동구,12.0,44473.0,90245,44350,45895,2.600529,9.74,9265.0
4,영도구,11.0,54909.0,118962,58960,60002,3.428047,14.20,8378.0
5,부산진구,20.0,166660.0,361542,175017,186525,10.418309,29.67,12185.0
6,동래구,13.0,111867.0,272169,132577,139592,7.842908,16.63,16366.0
7,남구,17.0,117518.0,281507,138038,143469,8.111995,26.81,10500.0
8,북구,13.0,120061.0,293926,145587,148339,8.469865,39.37,7466.0
9,해운대구,18.0,168454.0,411346,198530,212816,11.853477,51.47,7992.0
10,사하구,16.0,138822.0,326902,163575,163327,9.420112,41.77,7826.0
11,금정구,17.0,106984.0,244413,119219,125194,7.043083,65.28,3744.0
12,강서구,8.0,53242.0,134211,71107,63104,3.867467,181.49,739.0
13,연제구,12.0,90131.0,210584,101767,108817,6.068255,12.10,17404.0
14,수영구,10.0,81385.0,178071,84518,93553,5.131351,10.21,17441.0
15,사상구,12.0,96780.0,224455,113607,110848,6.467967,36.09,6219.0
16,기장군,5.0,69103.0,167178,83220,83958,4.817454,218.30,766.0

In [63]:
busan_cafe_density = busan_pop_land.merge(busan_cafe_year_gugunname, left_on = '구분', right_on = '시군구명')

In [65]:
busan_cafe_density.columns

Index(['구분', '읍·면·동수', '세대', '인구(명)', '남자(인구)', '여자(인구)', '시전체인구에대한구성비(%)',
       '면적(㎢)', '인구밀도(명/㎢)', '시군구명', '2016', '2017', '2018', '2019'],
      dtype='object')

In [70]:
busan_cafe_density.drop(['읍·면·동수', '세대', '남자(인구)', '여자(인구)', '시군구명', '2016', '2017', '2018'], axis = 1, inplace = True)

In [72]:
busan_cafe_density.rename( columns = {'2019' : '카페수'}, inplace = True)

In [74]:
busan_cafe_density_2019 = busan_cafe_density

In [76]:
busan_cafe_density_2019['시전체카페에대한구성비(%)'] = busan_cafe_density_2019['카페수'] / busan_cafe_density_2019['카페수'].sum() * 100

In [77]:
busan_cafe_density_2019

      구분   인구(명)  시전체인구에대한구성비(%)   면적(㎢)  인구밀도(명/㎢)  카페수  시전체카페에대한구성비(%)
0     중구   44169        1.272788    2.83    15607.0  315        6.408952
1     서구  110576        3.186393   13.98     7910.0  151        3.072228
2     동구   90245        2.600529    9.74     9265.0  203        4.130214
3    영도구  118962        3.428047   14.20     8378.0  156        3.173957
4   부산진구  361542       10.418309   29.67    12185.0  629       12.797558
5    동래구  272169        7.842908   16.63    16366.0  338        6.876907
6     남구  281507        8.111995   26.81    10500.0  323        6.571719
7     북구  293926        8.469865   39.37     7466.0  219        4.455748
8   해운대구  411346       11.853477   51.47     7992.0  592       12.044761
9    사하구  326902        9.420112   41.77     7826.0  277        5.635809
10   금정구  244413        7.043083   65.28     3744.0  390        7.934893
11   강서구  134211        3.867467  181.49      739.0  195        3.967447
12   연제구  210584        6.068255   12.10    17404.0  246        5.005086
13   수영구  178071        5.131351   10.21    17441.0  323        6.571719
14   사상구  224455        6.467967   36.09     6219.0  253        5.147508
15   기장군  167178        4.817454  218.30      766.0  305        6.205493

In [84]:
busan_cafe_density_2019['면적당카페수(ea/㎢)'] = busan_cafe_density_2019['카페수'] / busan_cafe_density_2019['면적(㎢)']
busan_cafe_density_2019['인구당카페수(ea/명)'] = busan_cafe_density_2019['카페수'] / busan_cafe_density_2019['인구(명)']
busan_cafe_density_2019['카페당관할인구수(명/ea)'] = busan_cafe_density_2019['인구(명)'] / busan_cafe_density_2019['카페수']

In [85]:
busan_cafe_density_2019

,구분,인구(명),시전체인구에대한구성비(%),면적(㎢),인구밀도(명/㎢),카페수,시전체카페에대한구성비(%),면적당카페수(ea/㎢),인구당카페수(ea/명),카페당관할인구수(명/ea)
0,중구,44169,1.272788,2.83,15607.0,315,6.408952,111.307420,0.007132,140.219048
1,서구,110576,3.186393,13.98,7910.0,151,3.072228,10.801144,0.001366,732.291391
2,동구,90245,2.600529,9.74,9265.0,203,4.130214,20.841889,0.002249,444.556650
3,영도구,118962,3.428047,14.20,8378.0,156,3.173957,10.985915,0.001311,762.576923
4,부산진구,361542,10.418309,29.67,12185.0,629,12.797558,21.199865,0.001740,574.788553
5,동래구,272169,7.842908,16.63,16366.0,338,6.876907,20.324714,0.001242,805.233728
6,남구,281507,8.111995,26.81,10500.0,323,6.571719,12.047743,0.001147,871.538700
7,북구,293926,8.469865,39.37,7466.0,219,4.455748,5.562611,0.000745,1342.127854
8,해운대구,411346,11.853477,51.47,7992.0,592,12.044761,11.501846,0.001439,694.841216
9,사하구,326902,9.420112,41.77,7826.0,277,5.635809,6.631554,0.000847,1180.151625
10,금정구,244413,7.043083,65.28,3744.0,390,7.934893,5.974265,0.001596,626.700000
11,강서구,134211,3.867467,181.49,739.0,195,3.967447,1.074439,0.001453,688.261538
12,연제구,210584,6.068255,12.10,17404.0,246,5.005086,20.330579,0.001168,856.032520
13,수영구,178071,5.131351,10.21,17441.0,323,6.571719,31.635651,0.001814,551.303406
14,사상구,224455,6.467967,36.09,6219.0,253,5.147508,7.010252,0.001127,887.173913
15,기장군,167178,4.817454,218.30,766.0,305,6.205493,1.397160,0.001824,548.124590

In [86]:
busan_cafe_density_2019.to_csv('../Cleansed_Tables/busan_cafe_density_2019.csv', encoding = 'utf-8', index = False)

In [87]:
busan_cafe_density_2019_corr = busan_cafe_density_2019[['시전체인구에대한구성비(%)', '인구밀도(명/㎢)', '시전체카페에대한구성비(%)', '면적당카페수(ea/㎢)', '인구당카페수(ea/명)', '카페당관할인구수(명/ea)' ]]

In [88]:
busan_cafe_density_2019_corr

,시전체인구에대한구성비(%),인구밀도(명/㎢),시전체카페에대한구성비(%),면적당카페수(ea/㎢),인구당카페수(ea/명),카페당관할인구수(명/ea)
0,1.272788,15607.0,6.408952,111.307420,0.007132,140.219048
1,3.186393,7910.0,3.072228,10.801144,0.001366,732.291391
2,2.600529,9265.0,4.130214,20.841889,0.002249,444.556650
3,3.428047,8378.0,3.173957,10.985915,0.001311,762.576923
4,10.418309,12185.0,12.797558,21.199865,0.001740,574.788553
5,7.842908,16366.0,6.876907,20.324714,0.001242,805.233728
6,8.111995,10500.0,6.571719,12.047743,0.001147,871.538700
7,8.469865,7466.0,4.455748,5.562611,0.000745,1342.127854
8,11.853477,7992.0,12.044761,11.501846,0.001439,694.841216
9,9.420112,7826.0,5.635809,6.631554,0.000847,1180.151625
10,7.043083,3744.0,7.934893,5.974265,0.001596,626.700000
11,3.867467,739.0,3.967447,1.074439,0.001453,688.261538
12,6.068255,17404.0,5.005086,20.330579,0.001168,856.032520
13,5.131351,17441.0,6.571719,31.635651,0.001814,551.303406
14,6.467967,6219.0,5.147508,7.010252,0.001127,887.173913
15,4.817454,766.0,6.205493,1.397160,0.001824,548.124590

In [89]:
busan_cafe_density_2019_corr.corr()

,시전체인구에대한구성비(%),인구밀도(명/㎢),시전체카페에대한구성비(%),면적당카페수(ea/㎢),인구당카페수(ea/명),카페당관할인구수(명/ea)
시전체인구에대한구성비(%),1.000000,0.008339,0.698945,-0.418114,-0.519428,0.531241
인구밀도(명/㎢),0.008339,1.000000,0.158037,0.568516,0.291256,-0.163354
시전체카페에대한구성비(%),0.698945,0.158037,1.000000,0.090352,0.067931,-0.219259
면적당카페수(ea/㎢),-0.418114,0.568516,0.090352,1.000000,0.945959,-0.626693
인구당카페수(ea/명),-0.519428,0.291256,0.067931,0.945959,1.000000,-0.744051
카페당관할인구수(명/ea),0.531241,-0.163354,-0.219259,-0.626693,-0.744051,1.000000

In [112]:
max_min = busan_cafe_density_2019_corr.max() - busan_cafe_density_2019_corr.min()

In [113]:
max_min

시전체인구에대한구성비(%)       10.580689
인구밀도(명/㎢)         16702.000000
시전체카페에대한구성비(%)        9.725331
면적당카페수(ea/㎢)        110.232981
인구당카페수(ea/명)          0.006387
카페당관할인구수(명/ea)     1201.908806
dtype: float64

In [107]:
col = busan_cafe_density_2019_corr.columns
col

Index(['시전체인구에대한구성비(%)', '인구밀도(명/㎢)', '시전체카페에대한구성비(%)', '면적당카페수(ea/㎢)',
       '인구당카페수(ea/명)', '카페당관할인구수(명/ea)'],
      dtype='object')

In [119]:
for idx, val in enumerate(col):
    busan_cafe_density_2019_corr['표준화' + val] = ((busan_cafe_density_2019_corr[val] - busan_cafe_density_2019_corr[val].min()) / max_min[idx])

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [120]:
busan_cafe_density_2019_corr

,시전체인구에대한구성비(%),인구밀도(명/㎢),시전체카페에대한구성비(%),면적당카페수(ea/㎢),인구당카페수(ea/명),카페당관할인구수(명/ea),표준화시전체인구에대한구성비(%),표준화인구밀도(명/㎢),표준화시전체카페에대한구성비(%),표준화면적당카페수(ea/㎢),표준화인구당카페수(ea/명),표준화카페당관할인구수(명/ea)
0,1.272788,15607.0,6.408952,111.307420,0.007132,140.219048,0.000000,0.890193,0.343096,1.000000,1.000000,0.000000
1,3.186393,7910.0,3.072228,10.801144,0.001366,732.291391,0.180858,0.429350,0.000000,0.088238,0.097155,0.492610
2,2.600529,9265.0,4.130214,20.841889,0.002249,444.556650,0.125487,0.510478,0.108787,0.179324,0.235547,0.253212
3,3.428047,8378.0,3.173957,10.985915,0.001311,762.576923,0.203697,0.457370,0.010460,0.089914,0.088663,0.517808
4,10.418309,12185.0,12.797558,21.199865,0.001740,574.788553,0.864360,0.685307,1.000000,0.182572,0.155745,0.361566
5,7.842908,16366.0,6.876907,20.324714,0.001242,805.233728,0.620954,0.935636,0.391213,0.174633,0.077786,0.553299
6,8.111995,10500.0,6.571719,12.047743,0.001147,871.538700,0.646386,0.584421,0.359833,0.099546,0.062993,0.608465
7,8.469865,7466.0,4.455748,5.562611,0.000745,1342.127854,0.680209,0.402766,0.142259,0.040715,0.000000,1.000000
8,11.853477,7992.0,12.044761,11.501846,0.001439,694.841216,1.000000,0.434259,0.922594,0.094594,0.108679,0.461451
9,9.420112,7826.0,5.635809,6.631554,0.000847,1180.151625,0.770018,0.424320,0.263598,0.050412,0.016012,0.865234
10,7.043083,3744.0,7.934893,5.974265,0.001596,626.700000,0.545361,0.179919,0.500000,0.044450,0.133181,0.404757
11,3.867467,739.0,3.967447,1.074439,0.001453,688.261538,0.245228,0.000000,0.092050,0.000000,0.110833,0.455977
12,6.068255,17404.0,5.005086,20.330579,0.001168,856.032520,0.453228,0.997785,0.198745,0.174686,0.066247,0.595564
13,5.131351,17441.0,6.571719,31.635651,0.001814,551.303406,0.364680,1.000000,0.359833,0.277242,0.167350,0.342026
14,6.467967,6219.0,5.147508,7.010252,0.001127,887.173913,0.491006,0.328104,0.213389,0.053848,0.059827,0.621474
15,4.817454,766.0,6.205493,1.397160,0.001824,548.124590,0.335013,0.001617,0.322176,0.002928,0.168997,0.339381

In [121]:
busan_cafe_density_2019_corr.columns

Index(['시전체인구에대한구성비(%)', '인구밀도(명/㎢)', '시전체카페에대한구성비(%)', '면적당카페수(ea/㎢)',
       '인구당카페수(ea/명)', '카페당관할인구수(명/ea)', '표준화시전체인구에대한구성비(%)', '표준화인구밀도(명/㎢)',
       '표준화시전체카페에대한구성비(%)', '표준화면적당카페수(ea/㎢)', '표준화인구당카페수(ea/명)',
       '표준화카페당관할인구수(명/ea)'],
      dtype='object')

In [122]:
newcol = ['표준화시전체인구에대한구성비(%)', '표준화인구밀도(명/㎢)', '표준화시전체카페에대한구성비(%)', '표준화면적당카페수(ea/㎢)', '표준화인구당카페수(ea/명)', '표준화카페당관할인구수(명/ea)']

In [124]:
busan_cafe_density_2019_corr = busan_cafe_density_2019_corr[newcol]

In [125]:
busan_cafe_density_2019_corr.corr()

,표준화시전체인구에대한구성비(%),표준화인구밀도(명/㎢),표준화시전체카페에대한구성비(%),표준화면적당카페수(ea/㎢),표준화인구당카페수(ea/명),표준화카페당관할인구수(명/ea)
표준화시전체인구에대한구성비(%),1.000000,0.008339,0.698945,-0.418114,-0.519428,0.531241
표준화인구밀도(명/㎢),0.008339,1.000000,0.158037,0.568516,0.291256,-0.163354
표준화시전체카페에대한구성비(%),0.698945,0.158037,1.000000,0.090352,0.067931,-0.219259
표준화면적당카페수(ea/㎢),-0.418114,0.568516,0.090352,1.000000,0.945959,-0.626693
표준화인구당카페수(ea/명),-0.519428,0.291256,0.067931,0.945959,1.000000,-0.744051
표준화카페당관할인구수(명/ea),0.531241,-0.163354,-0.219259,-0.626693,-0.744051,1.000000

In [126]:
busan_cafe_density_2019_corr.to_csv('../Cleansed_Tables/busan_cafe_density_2019_corr.csv', encoding = 'utf-8')