In [14]:
import pandas as pd
import numpy as np

1. [x]  년도별 카페 수
1. [x]  년도별 인구 수
1. [x]  년도별 인구당 카페수
1. [ ]  년도별 면적당 카페수
1. [ ]  년도별 인구밀도

In [16]:
ori_df = pd.read_csv('./Data/Processed_data/korea_shp_dist_def.csv', encoding = 'utf-8')

In [30]:
# ori_df.info()
# ori_df.head(1)

In [21]:
year_count = ori_df.pivot_table(index = ['year'], values = ['상호명'], aggfunc = 'count').reset_index()

In [23]:
year_count.info()
year_count.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
year    4 non-null int64
상호명     4 non-null int64
dtypes: int64(2)
memory usage: 192.0 bytes

   year    상호명
0  2016  57855
1  2017  76477
2  2018  87370
3  2019  96104

In [25]:
year_count.to_csv('./data/Cleansed_data/cafe_year_count.csv', encoding = 'utf-8', index = False)

In [56]:
year_dist = ori_df.pivot_table(index = ['시군구명'], columns = ['year'], values = ['상호명'], aggfunc = 'count').reset_index()

### 전국 시군구별. 멀티인덱스 바꾸기

In [57]:
year_dist.columns

MultiIndex([('시군구명',   ''),
            ( '상호명', 2016),
            ( '상호명', 2017),
            ( '상호명', 2018),
            ( '상호명', 2019)],
           names=[None, 'year'])

In [31]:
newcol = ['시군구명', '2016', '2017', '2018', '2019']

In [32]:
year_dist.columns = newcol
year_dist.columns

Index(['시군구명', '2016', '2017', '2018', '2019'], dtype='object')

In [33]:
year_dist.to_csv('./data/Cleansed_data/cafe_year_dist.csv', encoding = 'utf-8', index = False)

In [ ]:
# 해석이 중요하다. correlation coefficient가 크다는 말 => 연도별 데이터 분포가 유사한 분포를 가진다는 의미
# correlation coefficient가 줄어든다는 말 => 연도별 데이터 분포 유사도가 줄어든다는 말 => 구군별 카페의 수의 분포가 변화한다 => 카페 상권의 이동의 지표로 이용 할 수 있다.

In [35]:
year_dist_corr = year_dist.corr()
year_dist_corr

          2016      2017      2018      2019
2016  1.000000  0.990628  0.989645  0.989931
2017  0.990628  1.000000  0.996581  0.991713
2018  0.989645  0.996581  1.000000  0.994936
2019  0.989931  0.991713  0.994936  1.000000

In [37]:
year_dist_corr.to_csv('./data/Cleansed_data/cafe_year_dist_corr.csv', encoding = 'utf-8')

## 부산 시군구별

In [40]:
busan_cafe_all = korea_shp_dist_def[korea_shp_dist_def['시도명'] == '부산광역시']

In [41]:
busan_cafe_year_gugunname = busan_cafe_all.pivot_table(index = ['시군구명'], columns = ['year'], values = ['상호명'], aggfunc = 'count').reset_index()

In [42]:
newcol = ['시군구명', '2016', '2017', '2018', '2019']

In [46]:
busan_cafe_year_gugunname.columns = newcol
busan_cafe_year_gugunname.head(2)

  시군구명  2016  2017  2018  2019
0  강서구    66   144   184   195
1  금정구   246   289   370   390

In [44]:
busan_cafe_year_gugunname.to_csv('./data/Cleansed_data/busan_cafe_year_dist.csv', encoding = 'utf-8', index = False)

### 부산 구군별 인구수, 면적

In [112]:
busan_pop_land = pd.read_csv('./data/Processed_data/busan_pop_land.csv', encoding = 'euc-kr')

In [113]:
busan_pop_land.head(3)

,구 분,읍·면·\n동 수,세 대,인 구(명),남자(인구),여자(인구),시전체\n인구에 대한\n구성비(%),면적\n(㎢),인구밀도\n(명/㎢)
0,부산광역시,206.0,1496361.0,3470256,1706084,1764172,100.000000,769.94,4507.0
1,중 구,9.0,23153.0,44169,21959,22210,1.272788,2.83,15607.0
2,서 구,13.0,52819.0,110576,54053,56523,3.186393,13.98,7910.0

In [114]:
busan_pop_land.columns

Index(['구  분', '읍·면·\n동 수', '세   대', '인   구(명)', '남자(인구)', '여자(인구)',
       '시전체\n인구에 대한\n구성비(%)', '면적\n(㎢)', '인구밀도\n(명/㎢)'],
      dtype='object')

In [115]:
newcol = []
for i in busan_pop_land.columns:
    newcol.append(i.replace(' ','').replace('\n', ''))

In [116]:
newcol

['구분',
 '읍·면·동수',
 '세대',
 '인구(명)',
 '남자(인구)',
 '여자(인구)',
 '시전체인구에대한구성비(%)',
 '면적(㎢)',
 '인구밀도(명/㎢)']

In [117]:
busan_pop_land.columns = newcol
busan_pop_land.head(2)

,구분,읍·면·동수,세대,인구(명),남자(인구),여자(인구),시전체인구에대한구성비(%),면적(㎢),인구밀도(명/㎢)
0,부산광역시,206.0,1496361.0,3470256,1706084,1764172,100.000000,769.94,4507.0
1,중 구,9.0,23153.0,44169,21959,22210,1.272788,2.83,15607.0

In [118]:
busan_pop_land.drop([0], axis = 0, inplace = True)

In [123]:
busan_cafe_year_gugunname

    시군구명  2016  2017  2018  2019
0    강서구    66   144   184   195
1    금정구   246   289   370   390
2    기장군   165   227   290   305
3     남구   213   258   291   323
4     동구   132   155   183   203
5    동래구   247   257   320   338
6   부산진구   513   525   605   629
7     북구   154   174   216   219
8    사상구   226   211   245   253
9    사하구   189   224   263   277
10    서구    97   118   143   151
11   수영구   179   212   275   323
12   연제구   154   202   235   246
13   영도구    94   131   152   156
14    중구   236   275   301   315
15  해운대구   380   437   538   592

In [124]:
busan_pop_land

,구분,읍·면·동수,세대,인구(명),남자(인구),여자(인구),시전체인구에대한구성비(%),면적(㎢),인구밀도(명/㎢)
1,중 구,9.0,23153.0,44169,21959,22210,1.272788,2.83,15607.0
2,서 구,13.0,52819.0,110576,54053,56523,3.186393,13.98,7910.0
3,동 구,12.0,44473.0,90245,44350,45895,2.600529,9.74,9265.0
4,영 도 구,11.0,54909.0,118962,58960,60002,3.428047,14.20,8378.0
5,부산진구,20.0,166660.0,361542,175017,186525,10.418309,29.67,12185.0
6,동 래 구,13.0,111867.0,272169,132577,139592,7.842908,16.63,16366.0
7,남 구,17.0,117518.0,281507,138038,143469,8.111995,26.81,10500.0
8,북 구,13.0,120061.0,293926,145587,148339,8.469865,39.37,7466.0
9,해운대구,18.0,168454.0,411346,198530,212816,11.853477,51.47,7992.0
10,사 하 구,16.0,138822.0,326902,163575,163327,9.420112,41.77,7826.0
11,금 정 구,17.0,106984.0,244413,119219,125194,7.043083,65.28,3744.0
12,강 서 구,8.0,53242.0,134211,71107,63104,3.867467,181.49,739.0
13,연 제 구,12.0,90131.0,210584,101767,108817,6.068255,12.10,17404.0
14,수 영 구,10.0,81385.0,178071,84518,93553,5.131351,10.21,17441.0
15,사 상 구,12.0,96780.0,224455,113607,110848,6.467967,36.09,6219.0
16,기 장 군,5.0,69103.0,167178,83220,83958,4.817454,218.30,766.0

In [125]:
busan_cafe_density = busan_pop_land.merge(busan_cafe_year_gugunname, left_on = '구분', right_on = '시군구명')
busan_cafe_density

,구분,읍·면·동수,세대,인구(명),남자(인구),여자(인구),시전체인구에대한구성비(%),면적(㎢),인구밀도(명/㎢),시군구명,2016,2017,2018,2019
0,부산진구,20.0,166660.0,361542,175017,186525,10.418309,29.67,12185.0,부산진구,513,525,605,629
1,해운대구,18.0,168454.0,411346,198530,212816,11.853477,51.47,7992.0,해운대구,380,437,538,592

In [126]:
busan_cafe_density.drop(['읍·면·동수', '세대', '남자(인구)', '여자(인구)', '시군구명', '2016', '2017', '2018'], axis = 1, inplace = True)
busan_cafe_density

     구분   인구(명)  시전체인구에대한구성비(%)  면적(㎢)  인구밀도(명/㎢)  2019
0  부산진구  361542       10.418309  29.67    12185.0   629
1  해운대구  411346       11.853477  51.47     7992.0   592

In [127]:
busan_cafe_density.rename( columns = {'2019' : '카페수'}, inplace = True)

In [128]:
busan_cafe_density_2019 = busan_cafe_density
busan_cafe_density_2019

     구분   인구(명)  시전체인구에대한구성비(%)  면적(㎢)  인구밀도(명/㎢)  카페수
0  부산진구  361542       10.418309  29.67    12185.0  629
1  해운대구  411346       11.853477  51.47     7992.0  592

In [129]:
busan_cafe_density_2019['시전체카페에대한구성비(%)'] = busan_cafe_density_2019['카페수'] / busan_cafe_density_2019['카페수'].sum() * 100

In [130]:
busan_cafe_density_2019

     구분   인구(명)  시전체인구에대한구성비(%)  면적(㎢)  인구밀도(명/㎢)  카페수  시전체카페에대한구성비(%)
0  부산진구  361542       10.418309  29.67    12185.0  629       51.515152
1  해운대구  411346       11.853477  51.47     7992.0  592       48.484848

In [131]:
busan_cafe_density_2019['면적당카페수(ea/㎢)'] = busan_cafe_density_2019['카페수'] / busan_cafe_density_2019['면적(㎢)']
busan_cafe_density_2019['인구당카페수(ea/명)'] = busan_cafe_density_2019['카페수'] / busan_cafe_density_2019['인구(명)']
busan_cafe_density_2019['카페당관할인구수(명/ea)'] = busan_cafe_density_2019['인구(명)'] / busan_cafe_density_2019['카페수']

In [132]:
busan_cafe_density_2019

,구분,인구(명),시전체인구에대한구성비(%),면적(㎢),인구밀도(명/㎢),카페수,시전체카페에대한구성비(%),면적당카페수(ea/㎢),인구당카페수(ea/명),카페당관할인구수(명/ea)
0,부산진구,361542,10.418309,29.67,12185.0,629,51.515152,21.199865,0.001740,574.788553
1,해운대구,411346,11.853477,51.47,7992.0,592,48.484848,11.501846,0.001439,694.841216

In [134]:
busan_cafe_density_2019.to_csv('./data/Cleansed_data/busan_cafe_density_2019.csv', encoding = 'utf-8', index = False)

In [136]:
busan_cafe_density_2019_corr = busan_cafe_density_2019[['시전체인구에대한구성비(%)', '인구밀도(명/㎢)', '시전체카페에대한구성비(%)', '면적당카페수(ea/㎢)', '인구당카페수(ea/명)', '카페당관할인구수(명/ea)' ]]

In [138]:
busan_cafe_density_2019_corr
busan_cafe_density_2019_corr.corr()

,시전체인구에대한구성비(%),인구밀도(명/㎢),시전체카페에대한구성비(%),면적당카페수(ea/㎢),인구당카페수(ea/명),카페당관할인구수(명/ea)
시전체인구에대한구성비(%),1.0,-1.0,-1.0,-1.0,-1.0,1.0
인구밀도(명/㎢),-1.0,1.0,1.0,1.0,1.0,-1.0
시전체카페에대한구성비(%),-1.0,1.0,1.0,1.0,1.0,-1.0
면적당카페수(ea/㎢),-1.0,1.0,1.0,1.0,1.0,-1.0
인구당카페수(ea/명),-1.0,1.0,1.0,1.0,1.0,-1.0
카페당관할인구수(명/ea),1.0,-1.0,-1.0,-1.0,-1.0,1.0