In [13]:
import pandas as pd
df = pd.read_excel('./data/busan_population.xlsx', encoding = 'euc-kr')
df.head()

,구 분,읍·면·\n동 수,세 대,인 구(명),Unnamed: 4,Unnamed: 5,시전체\n인구에 대한\n구성비(%),면적\n(㎢),인구밀도\n(명/㎢)
0,NaN,NaN,NaN,계,남,여,NaN,NaN,NaN
1,부산광역시,206.0,1496361.0,3470256,1706084,1764172,100.000000,769.94,4507.0
2,중 구,9.0,23153.0,44169,21959,22210,1.272788,2.83,15607.0
3,서 구,13.0,52819.0,110576,54053,56523,3.186393,13.98,7910.0
4,동 구,12.0,44473.0,90245,44350,45895,2.600529,9.74,9265.0

In [14]:
df = df.iloc[1:,:]
df.head()

,구 분,읍·면·\n동 수,세 대,인 구(명),Unnamed: 4,Unnamed: 5,시전체\n인구에 대한\n구성비(%),면적\n(㎢),인구밀도\n(명/㎢)
1,부산광역시,206.0,1496361.0,3470256,1706084,1764172,100.000000,769.94,4507.0
2,중 구,9.0,23153.0,44169,21959,22210,1.272788,2.83,15607.0
3,서 구,13.0,52819.0,110576,54053,56523,3.186393,13.98,7910.0
4,동 구,12.0,44473.0,90245,44350,45895,2.600529,9.74,9265.0
5,영 도 구,11.0,54909.0,118962,58960,60002,3.428047,14.20,8378.0

In [15]:
print(df.info() , df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 1 to 17
Data columns (total 9 columns):
구  분                 17 non-null object
읍·면·
동 수             17 non-null float64
세   대                17 non-null float64
인   구(명)             17 non-null object
Unnamed: 4           17 non-null object
Unnamed: 5           17 non-null object
시전체
인구에 대한
구성비(%)    17 non-null float64
면적
(㎢)               17 non-null float64
인구밀도
(명/㎢)           17 non-null float64
dtypes: float64(5), object(4)
memory usage: 1.3+ KB
None (17, 9)

In [16]:
missing = df.shape[0] - df.count()
missing

구  분                   0
읍·면·\n동 수              0
세   대                  0
인   구(명)               0
Unnamed: 4             0
Unnamed: 5             0
시전체\n인구에 대한\n구성비(%)    0
면적\n(㎢)                0
인구밀도\n(명/㎢)            0
dtype: int64

In [17]:
df.columns

Index(['구  분', '읍·면·\n동 수', '세   대', '인   구(명)', 'Unnamed: 4', 'Unnamed: 5',
       '시전체\n인구에 대한\n구성비(%)', '면적\n(㎢)', '인구밀도\n(명/㎢)'],
      dtype='object')

In [18]:
dic = {'Unnamed: 4' : '남자(인구)', 'Unnamed: 5' : '여자(인구)'}
df.rename(columns = dic, inplace=True)
df.columns

Index(['구  분', '읍·면·\n동 수', '세   대', '인   구(명)', '남자(인구)', '여자(인구)',
       '시전체\n인구에 대한\n구성비(%)', '면적\n(㎢)', '인구밀도\n(명/㎢)'],
      dtype='object')

In [19]:
# 데이터 저장
df.to_csv('./data/busan_pop_land.csv', sep=',', encoding='euc-kr', index=False)

In [20]:
df1 = pd.read_csv('./data/busan_pop_land.csv', encoding='euc-kr')

In [21]:
df1.columns

Index(['구  분', '읍·면·\n동 수', '세   대', '인   구(명)', '남자(인구)', '여자(인구)',
       '시전체\n인구에 대한\n구성비(%)', '면적\n(㎢)', '인구밀도\n(명/㎢)'],
      dtype='object')

In [22]:
subset = df1.iloc[:, :]
subset.head(3)

,구 분,읍·면·\n동 수,세 대,인 구(명),남자(인구),여자(인구),시전체\n인구에 대한\n구성비(%),면적\n(㎢),인구밀도\n(명/㎢)
0,부산광역시,206.0,1496361.0,3470256,1706084,1764172,100.000000,769.94,4507.0
1,중 구,9.0,23153.0,44169,21959,22210,1.272788,2.83,15607.0
2,서 구,13.0,52819.0,110576,54053,56523,3.186393,13.98,7910.0