# 지역별 인구 대비 카페수 구하기
#### korea_mid_clfc_per_pop_2016.csv
---

### 데이터 불러오기
- df16~19 : 지역별 년도의 카페수
- pop16~19: 지역별 년도의 인구수

In [1]:
import pandas as pd
import numpy as np

In [2]:
# # 데이터 불러와서 그룹화 처리 자동화하기

# # 는 컴퓨터가 이해하는방식 때문에 다음 반복문 사용불가.
# # a = "b"
# # pd[a]  => pd['b']
# # pd['a']

# types = ['df', 'cnt']
# nums = [ i for i in range(16,20)]
# print(nums)

# list=[]
# for i in types:
#     for j in nums:
#         k = i + str(j)
#         list.append(k)
# dfs = list[:4]
# print(dfs)
# cnts = list[4:]

In [3]:
# for i in dfs:
#     grouped = i.groupby('시도명')
#     i = grouped.count().iloc[:, :1]
#     print(i)

In [4]:
df16 = pd.read_csv('./data/korea_cafe_def/korea_cafe_def_2016.csv', encoding = 'utf-8')
df17 = pd.read_csv('./data/korea_cafe_def/korea_cafe_def_2017.csv', encoding = 'utf-8')
df18 = pd.read_csv('./data/korea_cafe_def/korea_cafe_def_2018.csv', encoding = 'utf-8')
df19 = pd.read_csv('./data/korea_cafe_def/korea_cafe_def_2019.csv', encoding = 'utf-8')

In [5]:
# # concat전에 구분지어주기 위해 각각 새컬럼 추가
# df16['year'] = 2016
# df17['year'] = 2017
# df18['year'] = 2018
# df19['year'] = 2019

In [6]:
# alldf= pd.concat([df16,df17,df18,df19], ignore_index=True)
# alldf.info()
# alldf.tail()

### 시도별로 그룹화 후 갯수 세기

In [7]:
# 개수 세고 컬럼명 바꾸기
dic1 = {'상호명' : '2016년 카페수'}
grouped = df16.groupby('시도명') # 그룹화
cnt16 = grouped.count().iloc[:, :1] # 개수세기
cnt16.rename(columns = dic1, inplace=True) # 컬럼명 바꾸기

dic2 = {'상호명' : '2017년 카페수'}
grouped = df17.groupby('시도명')
cnt17 = grouped.count().iloc[:, :1]
cnt17.rename(columns = dic2, inplace=True)

dic3 = {'상호명' : '2018년 카페수'}
grouped = df18.groupby('시도명')
cnt18 = grouped.count().iloc[:, :1]
cnt18.rename(columns = dic3, inplace=True)

dic4 = {'상호명' : '2019년 카페수'}
grouped = df19.groupby('시도명')
cnt19 = grouped.count().iloc[:, :1]
cnt19.rename(columns = dic4, inplace=True)

In [8]:
cnt = pd.concat([cnt16,cnt17,cnt18,cnt19], axis=1)
cnt.head(2)

     2016년 카페수  2017년 카페수  2018년 카페수  2019년 카페수
시도명
강원도       2289       3241       3662       3938
경기도      12613      17596      20154      22225

In [9]:
### 넘파이로 데이터프레임 짜는법
df2 = pd.DataFrame(np.arange(25).reshape(5,5), index=['a','b','c','d','c'], 
                   columns=['x','y','z', 8, 9])
df2

    x   y   z   8   9
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
c  20  21  22  23  24

In [10]:
### 원하는 행 및 열을 가져오기
df2.iloc[[2,4], [0,1]]

    x   y
c  10  11
c  20  21

## 지역별인구수 불러오기

In [11]:
a = pd.read_csv('./data/korea_land_pop/korea_pop.csv', encoding = 'utf-8', header = 1) # header = 1
# a.head(2)

In [12]:
dic = {'행정구역(시군구)별' : '지역'} # 칼럼이름 바꾸기
a.rename(columns = dic, inplace=True)
# a.head(2)

In [13]:
a1 =a.drop([0]) # 전국 행 삭제
# a1.head(2)

In [14]:
pop_df = a1
a1.head(2)

,지역,총인구수 (명),남자인구수 (명),여자인구수 (명),총인구수 (명).1,남자인구수 (명).1,여자인구수 (명).1,총인구수 (명).2,남자인구수 (명).2,여자인구수 (명).2,...,여자인구수 (명).6,총인구수 (명).7,남자인구수 (명).7,여자인구수 (명).7,총인구수 (명).8,남자인구수 (명).8,여자인구수 (명).8,총인구수 (명).9,남자인구수 (명).9,여자인구수 (명).9
1,서울특별시,10312545,5111259,5201286,10249679,5073899,5175780,10195318,5041336,5153982,...,5053827,9857426,4830206,5027220,9765623,4773899,4991724,9729107,4744059,4985048
2,부산광역시,3567910,1773170,1794740,3550963,1762848,1788115,3538484,1754479,1784005,...,1772922,3470653,1709508,1761145,3441453,1692421,1749032,3413841,1675417,1738424

#### Merge 하기
- 인덱스-인덱스
- 인덱스-컬럼
- 컬럼-컬럼
- pop19 = p19.to_frame()

In [15]:
# 멍청한 방법 
# p16 = pop_df.iloc[:, [0,-12]]
# p17 = pop_df.iloc[:, [0,-9]]
# p18 = pop_df.iloc[:, [0,-6]]
# p19 = pop_df.iloc[:, [0,-3]]
# pop = pd.concat([p16,p17,p18,p19], axis=1)
# pop.head(2)

In [16]:
pop = pop_df.iloc[:, [0,-12,-9,-6,-3]]
pop.head(2)

      지역  총인구수 (명).6  총인구수 (명).7  총인구수 (명).8  총인구수 (명).9
1  서울특별시     9930616     9857426     9765623     9729107
2  부산광역시     3498529     3470653     3441453     3413841

In [18]:
dic = { '총인구수 (명).6':'2016년 인구수', '총인구수 (명).7':'2017년 인구수',
        '총인구수 (명).8':'2018년 인구수', '총인구수 (명).9':'2019년 인구수'}
pop.rename(columns = dic, inplace=True)
# pop.info()
# pop.head(2)

In [19]:
# cnt.info()
# cnt.head(2)

### 인덱스 - 컬럼으로 병합
mrg = pop.merge(cnt, left_on='지역', right_index=True)
mrg.info()
mrg.head(2)

In [20]:
# 인덱스로 Merge 할 경우 지정.
pop_inx = pop.set_index('지역')
# pop_inx.head(2)

In [21]:
# 인덱스 - 인덱스로 merge 실행
mrg_idx = cnt.merge(pop_inx, left_index=True, right_index=True)
mrg_idx.head(2)

,2016년 카페수,2017년 카페수,2018년 카페수,2019년 카페수,2016년 인구수,2017년 인구수,2018년 인구수,2019년 인구수
강원도,2289,3241,3662,3938,1550806,1550142,1543052,1541502
경기도,12613,17596,20154,22225,12716780,12873895,13077153,13239666

### cnt16카페갯수와 pop16년도별 인구수

In [22]:
mrg_idx['2016인구당카페수(ea/명)'] = mrg_idx['2016년 카페수']/mrg_idx['2016년 인구수']
mrg_idx['2017인구당카페수(ea/명)'] = mrg_idx['2017년 카페수']/mrg_idx['2017년 인구수']
mrg_idx['2018인구당카페수(ea/명)'] = mrg_idx['2018년 카페수']/mrg_idx['2018년 인구수']
mrg_idx['2019인구당카페수(ea/명)'] = mrg_idx['2019년 카페수']/mrg_idx['2019년 인구수']
mrg_idx['2016카페당관할인구수(명/ea)'] = mrg_idx['2016년 인구수']/mrg_idx['2016년 카페수']
mrg_idx['2017카페당관할인구수(명/ea)'] = mrg_idx['2017년 인구수']/mrg_idx['2017년 카페수']
mrg_idx['2018카페당관할인구수(명/ea)'] = mrg_idx['2018년 인구수']/mrg_idx['2018년 카페수']
mrg_idx['2019카페당관할인구수(명/ea)'] = mrg_idx['2019년 인구수']/mrg_idx['2019년 카페수']

In [31]:
df = mrg_idx.iloc[:,[0,1,2,3,8,9,10,11,12,13,14,15]]
print(df.info() , df.shape)

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 강원도 to 충청북도
Data columns (total 12 columns):
2016년 카페수             17 non-null int64
2017년 카페수             17 non-null int64
2018년 카페수             17 non-null int64
2019년 카페수             17 non-null int64
2016인구당카페수(ea/명)      17 non-null float64
2017인구당카페수(ea/명)      17 non-null float64
2018인구당카페수(ea/명)      17 non-null float64
2019인구당카페수(ea/명)      17 non-null float64
2016카페당관할인구수(명/ea)    17 non-null float64
2017카페당관할인구수(명/ea)    17 non-null float64
2018카페당관할인구수(명/ea)    17 non-null float64
2019카페당관할인구수(명/ea)    17 non-null float64
dtypes: float64(8), int64(4)
memory usage: 2.4+ KB
None (17, 12)

In [33]:
missing = df.shape[0] - df.count()
print(missing)

2016년 카페수             0
2017년 카페수             0
2018년 카페수             0
2019년 카페수             0
2016인구당카페수(ea/명)      0
2017인구당카페수(ea/명)      0
2018인구당카페수(ea/명)      0
2019인구당카페수(ea/명)      0
2016카페당관할인구수(명/ea)    0
2017카페당관할인구수(명/ea)    0
2018카페당관할인구수(명/ea)    0
2019카페당관할인구수(명/ea)    0
dtype: int64

In [36]:
result.to_csv('./korea_cafe_per_pop_all.csv', encoding = 'utf-8')
df1 = pd.read_csv('./korea_cafe_per_pop_all.csv', encoding = 'utf-8')
print(df1.info() , df1.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 13 columns):
Unnamed: 0            17 non-null object
2016년 카페수             17 non-null int64
2017년 카페수             17 non-null int64
2018년 카페수             17 non-null int64
2019년 카페수             17 non-null int64
2016인구당카페수(ea/명)      17 non-null float64
2017인구당카페수(ea/명)      17 non-null float64
2018인구당카페수(ea/명)      17 non-null float64
2019인구당카페수(ea/명)      17 non-null float64
2016카페당관할인구수(명/ea)    17 non-null float64
2017카페당관할인구수(명/ea)    17 non-null float64
2018카페당관할인구수(명/ea)    17 non-null float64
2019카페당관할인구수(명/ea)    17 non-null float64
dtypes: float64(8), int64(4), object(1)
memory usage: 1.9+ KB
None (17, 13)

In [37]:
missing = df.shape[0] - df.count()
print(missing)

2016년 카페수             0
2017년 카페수             0
2018년 카페수             0
2019년 카페수             0
2016인구당카페수(ea/명)      0
2017인구당카페수(ea/명)      0
2018인구당카페수(ea/명)      0
2019인구당카페수(ea/명)      0
2016카페당관할인구수(명/ea)    0
2017카페당관할인구수(명/ea)    0
2018카페당관할인구수(명/ea)    0
2019카페당관할인구수(명/ea)    0
dtype: int64

### object type -> int/float 으로 바꾸기
- 콤마를 먼저 없애고 object를 숫자로 바꾼다
    - result['시도명'].str.replace(',', '')
    - astype
    - to_numeric

### 불필요한 컬럼 드랍 (또는 컬럼명 변경)
- del 사용
    - del df['C']
- drop 사용
    - cnt16.drop(['상호명'], axis='columns', inplace=True)
    - df = df.drop(['B', 'E'], axis=1) # without the option inplace=True
- 열번호에 drop
    - df.drop(df.columns[[0, 2]], axis='columns')